/* Add your styles for the projects page here */
body {
    background-color: #f8f8f8; /* Lighter background color */
    font-family: 'Roboto', sans-serif; /* Default font */
    margin: 0;
}

.project-box {
    background-color: #ffe8ff; /* Lighter pink */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2, h3 {
    color: #660066; /* Dark magenta */
    margin: 0;
    padding: 10px;
}

iframe, img, .empty-box {
    width: 100%;
    max-width: 400px; /* Smaller width for cuteness */
    height: 250px; /* Smaller height for cuteness */
}

.empty-box {
    background-color: #cc0066; /* Dark magenta */
}

.link-buttons a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #660066; /* Dark magenta */
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Roboto', sans-serif; /* Use Roboto for the buttons */
}

.link-buttons a:hover {
    background-color: #cc0066; /* Lighter magenta on hover */
}

.footer-text {
    text-align: center;
    margin-top: 20px;
    color: #ff80c0; /* Bratz pink */
}
